---
import ProjectCard from '@/components/Project/ProjectCard.astro'
import { type GitHubRepo } from '@/utils/github'
import { cn } from '@/utils/cn'

type Props = {
	projects: GitHubRepo[]
}

const { projects } = Astro.props
---

<section
    class={cn(
        'grid grid-cols-1 justify-center gap-2',
        'md:gap-4 md:grid-cols-2',
    )}
>
    {projects.map(project => <ProjectCard project={project} />)}
</section>
