---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { ...props } = Astro.props
---

<a {...props}>
    <slot />
</a>

<style>
    a {
        filter: drop-shadow(0 0 0.5em #0008);
		text-shadow: 0px 0px 1.5em transparent;
		@apply transition-all duration-200;
    }

    a:hover {
        text-shadow: 0px 0px 0.25em currentColor;
    }

    a::after, a::before {
		content: "";
		display: inline-block;
		position: absolute;
        top: 110%;
		height: 2px;
		background: currentColor;
		pointer-events: none;
		@apply transition-all duration-200;
	}

	a::before {
		left: 0;
		right: 0;
		opacity: 0.25;
	}

	a::after {
		opacity: 0;
		left: -10em;
		right: -10em;
		border-radius: 50%;
	}

	a:hover::after {
		left: 0;
		right: 0;
		opacity: 1;
		box-shadow: 0px 0px 4px currentColor;
		border-radius: 0%;
	}
</style>
