---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'nav'>

const { class: className, ...props } = Astro.props

---

<nav class={className} {...props}>
    <slot />
</nav>

<style>
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        @apply text-xl;
    }
</style>
