---
import { type CollectionEntry, getCollection } from 'astro:content'
import BlogPost from '@/layouts/BlogPost'
import Code from '@/components/mdx/Code'
import Share from '@/components/Share'
import TableOfContents from '@/components/TableOfContents'
import { getProjects } from '@/utils'
import SButton from '@/components/mdx/SButton'

export async function getStaticPaths() {
	const projects = await getProjects()

	return projects.map((project) => ({
		params: { slug: project.slug },
		props: project
	}))
}
type Props = CollectionEntry<'project'>

const project = Astro.props

const { Content, headings, remarkPluginFrontmatter } = await project.render()
---

<BlogPost data={project.data} headings={headings} readTime={remarkPluginFrontmatter.minutesRead}>
	<div class='grid grid-cols-1 md:grid-cols-[20%_auto] gap-10 mt-8'>
		<!-- aside  -->
		<aside class='md:flex flex-col gap-8 hidden'>
			<Share />
			<div class='sticky top-24 self-start hidden md:block transition-all duration-200'>
				{headings && headings.length > 0 && <TableOfContents {headings} />}
			</div>
		</aside>

		<!-- project -->
		<article class='max-w-full w-full'>
			<div class='prose prose-lg md:prose-xl dark:prose-invert mb-12 min-w-full'>
				<Content components={{ pre: Code, SButton }} />
			</div>
		</article>
	</div>
</BlogPost>
