@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import './text-color-gradient.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--col-fg: #f9f8f6;
    	--col-bg: #110f10;
		--col-primary: #53a2be;
		--col-primary-accent: #83b4ec;
		--col-secondary1: #419d78;
		--col-secondary2: #e0a458;
		--col-secondary3: #d9594c;
	}

	html {
		font-family: 'lato', sans-serif;
		@apply scroll-smooth;
	}

	body {
		display: flex;
		flex-direction: column;
		transition: background-color 0.5s ease;
		letter-spacing: 0.05em;
		width: 100vw;
		min-height: 100vh;
		@apply antialiased;
		@apply bg-bg;
		@apply text-fg;
	}

	@supports (letter-spacing: 1cap) {
		body {
			letter-spacing: 0.05cap;
		}
	}

	.prose code {
		@apply text-sm;
	}

	h1, .prose h1,
	h2, .prose h2,
	h3, .prose h3,
	h4, .prose h4,
	h5, .prose h5,
	h6, .prose h6 {
		@apply text-primary;
	}

	.prose p {
		text-align: justify;
	}

	.prose .remark-oembed-inline iframe {
		width: 100%;
		height: 31rem;
	}
}

@layer utilities {
	.text-shadow-md {
		text-shadow: 0px 0px 1em #000, 0px 0px 0.5em #000;
	}

	.glow-md {
		text-shadow: 0px 0px 0.5em currentColor;
	}

	.horizontal-rule {
		@apply bg-gradient-to-r from-transparent from-15% via-primary to-transparent to-85%;
	}

	/** Apply to links to expand their clickable region. */
	.ez-click {
		position: relative;
	}

	.ez-click::after {
		position: absolute;
		content: '';
		inset: -0.5em;
	}
}

.moon-logo {
	transform: translateY(0%) rotateZ(0deg);
}

.sun-logo {
	transform: translateY(0) rotateZ(0deg);
}

.animate-sun {
	transform: translateY(20%) rotateZ(100deg);
}

.animate-moon {
	transform: translateY(20%) rotateZ(50deg);
}

.glass {
	background: rgba(57, 56, 56, 0.52);
	backdrop-filter: blur(13px) saturate(150%);
	-webkit-backdrop-filter: blur(13px) saturate(150%);
	z-index: -1;
}

.shadow {
	box-shadow: -5px 3px 8px 1px rgba(0, 0, 0, 0.12);
}
