---
import BaseLayout from '@/layouts/BaseLayout.astro'
// import Icon from '@/components/icons/Icon.astro'
// import HoverUpDown from '@/components/animations/HoverUpDown.astro'
import SplashLink from '@/components/SplashPage/SplashLink.astro'
import SplashMenu from '@/components/SplashPage/SplashMenu.astro'
import { siteConfig } from '@/site.config'
import PageSection from '@/components/PageSection.astro'
import SectionWrapper from '@/components/SectionWrapper.astro'
import SplashProfilePicture from '@/components/SplashPage/SplashProfilePicture.astro'
import SplashPageBackground from '@/components/SplashPage/SplashPageBackground.astro'
import WavyText from '@/components/animations/WavyText.astro'
// import ListWorkHistory from '@/components/WorkHistory/ListWorkHistory.astro'

const { author, jobTitle } = siteConfig
---

<BaseLayout noTopMargin>
    <SectionWrapper class="relative">
	    <SplashPageBackground />

	    <PageSection fullScreen class="justify-center">
	        <div class="flex gap-8 justify-center items-center flex-col py-16 md:py-32">
	            <SplashProfilePicture />

	            <div class="flex flex-col items-center text-center font-loto font-light pointer-events-none">
	                <WavyText text={author} class="text-color-gradient text-4xl md:text-6xl" />
	                <p class="text-4xl text-color-gradient font-normal tracking-widest">
	                    {jobTitle}
	                </p>
	            </div>
	        </div>

	        <SplashMenu>
	            <SplashLink class="text-secondary2" href="/resume">Resume</SplashLink>
	            <SplashLink class="text-primary" href={`https://github.com/${siteConfig.github}`} target="_blank">GitHub</SplashLink>
	            <SplashLink class="text-secondary1" href={`mailto:${siteConfig.email}`} target="_blank">Contact</SplashLink>
	        </SplashMenu>

			<!-- <div class="absolute bottom-14 flex justify-center w-full text-xl drop-shadow text-primary">
				<HoverUpDown>
					<Icon name="ri:arrow-down-circle-line" class="drop-shadow"/>
				</HoverUpDown>
			</div> -->
	    </PageSection>
    </SectionWrapper>

	<!-- <SectionWrapper>
	    <PageSection class="justify-center">
	        <ListWorkHistory />
	    </PageSection>
	</SectionWrapper> -->
</BaseLayout>
