---
import type { HTMLAttributes } from 'astro/types'
import Icon from '@/components/icons/Icon.astro'
import { cn } from '@/utils/cn'

type Props = HTMLAttributes<'a'> & {
	icon?: string
}

const {
	href,
	class: className,
	icon,
	...props
} = Astro.props

const { pathname } = Astro.url
const isActive = href === pathname || href === pathname.replace(/\/$/, '')
---

<a
	href={href}
	class={cn(
		'ez-click',
		isActive && 'active',
		className,
	)}
	rel='noopener noreferrer'
	{...props}
>
	{icon && <Icon name={icon} class="text-[1.25em]" />}
	<slot />
</a>

<style>
	a {
		position: relative;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		filter: drop-shadow(1px 1px 0.5em black);
		@apply flex items-center gap-1;
		@apply text-fg text-opacity-75;
		@apply transition-all;
	}

	a.active, a:hover {
		@apply text-opacity-100;
	}

	a:hover {
		transform: scale(1.2);
		filter: drop-shadow(1px 1px 0.5em gray);
	}
</style>
