<div class='flex justify-between max-md:flex-col md:border-l'>
	<div class='md:pl-4 md:w-64'>
		<h2 class='font-bold text-3xl'>Experience</h2>
		<p>Where I've been professionally for the last few years.</p>
	</div>

	<div class='grid grid-cols-1 gap-12 grow md:pl-16 max-md:mt-4'>
		<slot />
	</div>
</div>
