---
import type { HTMLAttributes } from 'astro/types'
import Icon from '@/components/icons/Icon.astro'
import { cn } from '@/utils/cn'

type Props = HTMLAttributes<'a'> & {
	icon?: string
}

const {
	href,
	class: className,
	icon,
	...props
} = Astro.props

const { pathname } = Astro.url
const isActive = href === pathname || href === pathname.replace(/\/$/, '')
---

<a
	href={href}
	class={cn(
		'flex items-center gap-1',
		'text-fg ez-click',
		'hover:text-primary transition',
		isActive ? 'text-opacity-100' : 'text-opacity-75',
		className,
	)}
	rel='noopener noreferrer'
	{...props}
>
	{icon && <Icon name={icon} class="text-[1.25em]" />}
	<span class="max-md:hidden">
		<slot />
	</span>
</a>
