---
import HeaderLink from '@/components/HeaderLink'
import Search from '@/components/Search'
import Icon from '@/components/icons/Icon'
import PostIcon from '@/components/icons/PostIcon'
import { SOCIAL_NETWORKS } from '@/data/SocialNetworks'
---

<header class='relative flex items-center justify-between font-semibold text-md'>
	<nav class='flex w-full items-center gap-6'>
		<HeaderLink href='/'>
			<Icon name="ri:user-heart-fill" />
			<span class="max-md:hidden">About Me</span>
		</HeaderLink>
		<HeaderLink href='/posts'>
			<PostIcon />
			<span class="max-md:hidden">Articles</span>
		</HeaderLink>
		<HeaderLink href='https://github.com/JetBoom'>
			<Icon name="ri:github-fill" />
			<span class="max-md:hidden">Projects</span>
		</HeaderLink>
	
		<div class="grow"></div>

		{SOCIAL_NETWORKS.map(network => (
			<HeaderLink
				href={network.url}
				target='_blank'
				title={network.name}
				aria-label={network.name}
			>
				<Icon name={network.icon} />
			</HeaderLink>
		))}

		<Search />
	</div>
</header>
