---
import HeaderLink from '@/components/HeaderLink'
import GithubIcon from '@/components/icons/GithubIcon'
import InstagramIcon from '@/components/icons/InstagramIcon'
import MenuIcon from '@/components/icons/MenuIcon'
import Search from '@/components/Search'
import TagIcon from '@/components/icons/TagIcon'
//import ListIcon from '@/components/icons/ListIcon'

// ADD YOUR SOCIAL NETWORKS HERE
const SOCIALNETWORKS = [
	{
		name: 'Github',
		url: 'https://github.com/JetBoom',
		icon: GithubIcon,
	},

	{
		name: 'Instagram',
		url: 'https://instagram.com/regalartenjoyer',
		icon: InstagramIcon,
	},
]
---

<header class='relative flex items-center justify-between font-semibold text-md'>
	<nav class='flex items-center justify-start grow gap-8'>
		<HeaderLink href='/' class='flex items-center gap-1'>
			<TagIcon /> About Me
		</HeaderLink>
		<!-- <HeaderLink href='/posts' class='flex items-center gap-1'>
			<ListIcon /> Posts
		</HeaderLink> -->
		<HeaderLink href='https://github.com/JetBoom' class='flex items-center gap-1'>
			<GithubIcon /> Projects
		</HeaderLink>
	</nav>

	<div
		id='astro-header-drawer'
		class='shadow rounded-l-lg md:bg-transparent bg-[#0a0910] md:shadow-none md:rounded-none md:border-none md:h-auto md:static absolute transition-transform duration-300 ease-in translate-x-96 md:translate-x-0 top-12 -right-5 pl-4 pt-6 pb-4 md:p-0 h-[200px] w-[200px] z-50'
	>
		<nav
			class='flex h-full flex-col justify-between gap-12 text-left md:flex-row md:w-full md:gap-5'
		>
			<!-- <div
				class='flex flex-col gap-4 md:flex-row md:border-r-2 pr-4 border-white'
			>
				<HeaderLink href='/tags' class='flex items-center gap-1 text-2xl md:text-base'>
					<TagIcon /> Tags
				</HeaderLink>
			</div> -->

			<div class='flex justify-center items-center md:justify-end gap-3 md:p-0'>
				{
					SOCIALNETWORKS.map((network) => (
						<HeaderLink class='' href={network.url} target='_blank' aria-label={network.name}>
							<span><network.icon /> </span>
						</HeaderLink>
					))
				}
			</div>
		</nav>
	</div>

	<div class='flex items-center gap-3 md:pl-3'>
		<div>
			<Search />
		</div>
		<button id='astro-header-drawer-button' type='button' class='md:ml-6 md:hidden'>
			<MenuIcon />
			<span class='sr-only'>Show Menu</span>
		</button>
	</div>
</header>
<script>
	document.addEventListener('click', (event) => {
		const menu = document.getElementById('astro-header-drawer')
		const menuButton = document.getElementById('astro-header-drawer-button')
		const isClickInside =
			menu?.contains(event.target as HTMLDivElement) ||
			menuButton?.contains(event.target as HTMLButtonElement)

		if (isClickInside) {
			menu?.classList.toggle('translate-x-96')
		} else {
			menu?.classList.add('translate-x-96')
		}
	})
</script>
