---
import ProjectCard from '@/components/ProjectCard'
import { type GitHubRepo } from '@/utils'
import { cn } from '@/utils'

type Props = {
	projects: GitHubRepo[]
}

const { projects } = Astro.props
---

<section
	class={cn(
		'grid grid-cols-1 justify-center gap-4 mt-3',
		'md:gap-8 md:grid-cols-2',
	)}
>
	{projects.map(project => <ProjectCard project={project} />)}
</section>
