---
import type { CollectionEntry } from 'astro:content'
import PostCard from '@/components/PostCard.astro'
import { cn } from '@/utils'

type Props = {
	posts: CollectionEntry<'posts'>[]
	FirstBig?: boolean
}

const { posts, FirstBig = false } = Astro.props
---

<section
	class={cn(
		'grid grid-cols-1 justify-center gap-4 mt-3',
		'md:gap-8 md:grid-cols-2',
		'lg:grid-cols-3',
		FirstBig && 'md:[&>*:first-child]:col-span-2',
	)}
>
	{
		posts.map(async (post) => {
			const { remarkPluginFrontmatter } = await post.render()

			return (
				<PostCard
					data={post.data}
					slug={post.slug}
					readTime={remarkPluginFrontmatter.minutesRead}
				/>
			)
		})
	}
</section>
