---
import { cn } from '@/utils/cn'
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'div'> & {
    fullScreen?: boolean
}

const {
    class: className,
    fullScreen = false,
    ...props
} = Astro.props
---

<div {...props}
    class={cn(
        fullScreen && 'min-h-screen',
        'flex flex-col',
        'px-4 sm:max-w-2xl md:px-8 md:max-w-6xl',
        className
    )}
>
    <slot />
</div>
