---
import { SHARE_SITES } from '@/data/ShareSites'

type Props = {
	message: string
}

const { message } = Astro.props

const URL = Astro.url.href
---

<div class="flex justify-center items-center gap-4 text-md">
	{SHARE_SITES.map(site => (
		<a
			href={site.href(URL, message)}
			title={`Share on ${site.name}`}
			target="_blank"
			aria-label={`Share on ${site.name}`}
		>
			{<site.icon />}
		</a>
	))}
</div>
