---
import { getShareHref, getShareSites } from '@/data/shareSites'
import Icon from '@/components/icons/Icon.astro'

type Props = {
	message: string
}

const { message } = Astro.props

const URL = Astro.url.href

const shareSites = await getShareSites()
---

<div class="flex justify-center items-center gap-4 text-md">
	{shareSites.map(({ data: { name, href, icon } }) => (
		<a
			href={getShareHref(href, URL, message)}
			title={`Share on ${name}`}
			target="_blank"
			aria-label={`Share on ${name}`}
		>
			<Icon name={icon} />
		</a>
	))}
</div>
