---
import { getShareHref, getShareSites } from '@/data/shareSites'
import Icon from '@/components/icons/Icon.astro'

type Props = {
	message: string
}

const { message } = Astro.props

const URL = Astro.url.href

const shareSites = await getShareSites()
---

<div class="flex flex-wrap items-center gap-2 text-md">
	{shareSites.map(({ data: { name, href, icon } }) => (
		<a
			class="share-link"
			href={getShareHref(href, URL, message)}
			target="_blank"
			data-tippy-content={`Share on ${name}`}
		>
			<Icon name={icon} />
		</a>
	))}
</div>

<style>
	a.share-link {
		padding: 0.25rem;
		border-radius: 0.5rem;
		outline: 1px solid transparent;
		@apply transition-all;

		&:hover {
			@apply outline-fg/50;
			box-shadow: 0px 0px 0.5rem #fff8;
		}
	}
</style>
