---
import BaseHead from '@/components/Header/BaseHead.astro'
import Header from '@/components/Header/Header.astro'
import Footer from '@/components/Footer.astro'
import ProviderAnimations from '@/components/ProviderAnimations.astro'
import TwSizeIndicator from '@/components/TwSizeIndicator.astro'
import EditBlog from '@/components/editBlog.astro'
import { cn } from '@/utils/cn'

const {
	title,
	description,
	image,
	articleDate,
	noTopMargin,
	class: className,
} = Astro.props
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} ogImage={image} articleDate={articleDate} />
		<ProviderAnimations />
	</head>

	<body>
		<Header />
		<main
			class={cn(
				'flex flex-col grow gap-12 mx-auto px-4 sm:max-w-2xl md:px-8 md:max-w-6xl',
				noTopMargin ? 'mt-0' : 'mt-24',
				className,
			)}
		>
			<slot />
		</main>
		<Footer />
		<TwSizeIndicator />
		<EditBlog />
	</body>
</html>
