---
import BaseHead from '@/components/BaseHead'
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import ProviderAnimations from '@/components/ProviderAnimations'
import TwSizeIndicator from '@/components/TwSizeIndicator'
import EditBlog from '@/components/editBlog'
import { cn } from '@/utils'

const {
	title,
	description,
	image,
	articleDate,
	class: className,
} = Astro.props
---

<html lang="en" class="scroll-smooth">
	<head>
		<BaseHead title={title} description={description} ogImage={image} articleDate={articleDate} />
		<ProviderAnimations />
	</head>

	<body class="antialiased">
		<Header />
		<main
			class={cn("flex flex-col gap-12 mx-auto mt-24 px-4 sm:max-w-2xl md:px-8 md:max-w-6xl", className)}
		>
			<slot />
		</main>
		<Footer />
		<TwSizeIndicator />
		<EditBlog />
	</body>
</html>
